trash/*
data/processed/*
!data/processed/README.md
data/raw/*
!data/raw/README.md
production_models/*
!production_models/*README.md
data/production_model_predictions/*
!data/production_model_predictions/README.md

